.footer {
  background: #f8f8f8;
  padding: 60px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.footer-logo img {
  width: 60px;
  height: auto;
}

.footer-logo p {
  font-size: 24px;
  font-weight: 600;
  color: #171717;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  cursor: pointer;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: #000;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-icon-container {
  width: 43px;
  height: 43px;
  border-radius: 14px;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.footer-icon-container:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}


.footer-icon-container img {
  width: 43px;
  height: 43px;
  
}

.footer-copyright {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.footer-copyright hr {
  width: 420px;
  height: 3px;
  background: linear-gradient(
    90deg,
    transparent,
    #000,
    transparent
  );
  border: none;
  margin: 40px auto 20px;
}

.footer-copyright p {
    font-size: 13px;
  letter-spacing: 0.5px;
  color: #888;
  /* font-size: 14px;
  color: #777; */
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 20px 25px;
  }

  .footer-links {
    gap: 20px;
  }
}
