.item-wrapper {
  position: relative;
}

.img-btn {
  position: absolute;
  top: 40%;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.img-btn {
  font-size: 26px;
  font-weight: 300;
}

.img-btn {
  backdrop-filter: blur(6px);
  background: rgba(255,255,255,0.25);
  color: black;
  /* border-radius: 50%; */
}
.img-btn:hover {
    background: #111;
    color: #fff;
    /* transform: translateY(-50%) scale(1.1); */
}


.img-btn.left {
  left: 5px;
}

.img-btn.right {
  right: 5px;
}

.item-wrapper:hover .img-btn {
  opacity: 1;
}


.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    min-height: 90vh;   
  height: auto;
  margin-bottom: 100px;
    margin-top: 50px;
    /* margin-bottom: 100px; */
}

.new-collections h1{
    color: #171717;
    font-size: 40px;
    font-weight: 200;

}

.new-collections hr{
    width: 300px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.new-collections-item{
    /* margin-top: 50px; */
    display: flex;
    gap: 30px;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}